<!DOCTYPE html>
<style>
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-family: sans-serif;
  }
  .mt {
    margin-top: 20px;
  }
</style>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>

    <div class="signup">
      <h1>Login</h1>
      <select id="usertype">
        <option value="student">Student</option>
        <option value="company">Company</option>
      </select>
      <p> Username: </p>
      <input type="text" id="username" placeholder="Username">
      <p> Password: </p>
      <input type="password" id="password" placeholder="Password">
      <button class="mt" onclick="logIn()">Login</button>
      <a href="/">Don't have an account? Sign Up now.</a>
    </div>

    <script>
      function logIn(){
        var userName = document.getElementById("username").value;
        var passWord = document.getElementById("password").value;
        var userType = document.getElementById("usertype").value;

        if(userName == ""){
        alert("A Username is required");
        }else if(passWord == ""){
        alert("A Password is required");
        }
        
        var sentURL;
        var baseURL = "http://127.0.0.1:5000";

        if(userType == "student"){
            sentURL = baseURL + "/slogin?" + "username=" + userName + "&password=" + passWord;
        } else {
            sentURL = baseURL + "/clogin?" + "username=" + userName + "&password=" + passWord;
        }

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST",sentURL,false);
        xmlhttp.onreadystatechange = function() {
            if(xmlhttp.readyState ===4 && xmlhttp.status ===200){
                var response = JSON.parse(xmlhttp.responseText);
                if(response.id > 0){
                    // saving user id to session storage
                    sessionStorage.setItem('userID', response.id);  // SO IMPORTANT
                    if(userType == "student"){
                        // go to students main page
                        window.location.href = "./mainPageStudent";
                    } else {
                        // go to company main page
                        window.location.href = "./mainPageCompany";
                    }
                } else {
                    alert("Wrong username of password!");
                }
            }
        };
        xmlhttp.send();
        
      }
    

    </script>

  </body>
</html>