<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="../static/css/navbar.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <h1 class="navbaritem" href="https://buranme-database.herokuapp.com">Home</h1>
        <h1 class="navbaritem" href="https://buranme-database.herokuapp.com/profile">Profile</h1>
        <h1 class="navbaritem" href="https://buranme-database.herokuapp.com/about">About</h1>
      </div>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
