<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    
</head>
  <body>
    <header>
      <div class="navbar">
        <strong><nav>
          <ul>
            <li class="link"><a href="https://buranme-database.herokuapp.com">Home</a></li>
            <li class="link"><a href="https://buranme-database.herokuapp.com/profile">Profile</a></li>
            <li class="link"><a href="https://buranme-database.herokuapp.com/about">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>